[package]
name = "presence-rs"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0", optional = true, features = ["derive"] }

[dev-dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

[features]
default = []
serde = ["dep:serde"]
